/* * {
    outline: 3px solid limegreen !important;
    background: rgba(0, 151, 0, 0.1) !important;
} */

body {
    background-color: rgb(224, 234, 237);
    font-family: 'Bebas Neue', cursive;
}

header {
    background-color: rgb(147, 147, 147);
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.h1-container {
    background-color: teal;
    max-width: 3000px;
    height: 50px;
    justify-content: end;

}

h1 {
    padding-right: 25px;
    font-size: 48px;

    text-align: end;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    flex-basis: 25%;
}

.nav-box {
    flex: 1;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    margin: 10px;
    border-bottom: 3px black solid;

}

a:link {
    text-decoration: none;

}

a:visited {
    color: black;
}

a:hover {
    color: white;
}

a:active {
    color: teal;
}

subheader {
    background-color: rgb(69, 117, 136);
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    height: 175px;
    size: 100%;
}

subheader h2 {
    background-color: aqua;
    font-size: 36px;
    height: 35px;
    margin-right: 50px;
    margin-bottom: 25px;
    padding: 10px;
}

#main-content-container {
    display: flex;
    flex-direction: column;
}




#bio-content-container {
    display: flex;
    width: 100%;
}

#bio-content {
    margin: 40px 20px;
    margin-left: 20px;
    font-size: 30px;
    flex-basis: 90%;
}

h3 {
    text-align: right;
    font-size: 36px;
    padding-right: 15px;
    border-right: black 3px solid;
}

.side-header {
    margin: 40px 10px 10px 20px;
    display: flex;
    flex-basis: 10%;
    justify-content: right;
}



#work-content-container {
    display: flex;
}

#work-box-container {
    display: flex;
    flex-basis: 90%;
    justify-content: space-between;
}


#hero-box-container {

    justify-content: center;
}

#hero-box {
    flex-basis: 100%;
    margin-top: 40px;


}

#box-container-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;
    margin-top: 40px;
}

#box-container-2 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    flex-shrink: 1;
    margin-top: 40px;
}


#box {
    height: 500px;
    width: 500px;
    margin: 10px 10px 0px 10px;

}



#footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

footer {

    width: 100%;
}

#footer-header {

    display: flex;
    justify-content: center;

}

#nav-footer {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

h4 {
    font-size: 32px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
    border-bottom: black 3px solid;
}

h5 {
    width: 150px;
    margin: 10px;
    text-align: center;
}



@media screen and (max-width: 1275px) {



    #work-box-container {
        flex-direction: column;
    }

    #hero-box-container {}

    #box-container-1 {
        flex-direction: row;
    }

    #box-container-2 {
        flex-direction: row;
    }

    #box {}

}

@media screen and (max-width: 600px) {



    #work-box-container {
        flex-direction: column;
    }



    #box-container-1 {
        flex-direction: column;
    }

    #box-container-2 {
        flex-direction: column;
    }

    #box {
        height: 400px;
        width: 400px;
    }

    #hero-box {
        height: 400px;
        width: 400px;
    }

}